* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

.Container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $gutter $gutter*3;
    background-color: $color-main;
}

form {
    width: 80%;
}

input {
    line-height: 1.9em;
    border-radius: 5px;
    border-style: solid;

    &:focus {
        outline: none;
        border-radius: 5px;
        border-color: #719ECE;
        border-width: 3px;
    }
}

textarea {
    border-radius: 5px;

    &:focus {
        outline: none;
        border-radius: 5px;
        border-color: #719ECE;
        border-width: 3px;
    }
}

select {
    border-radius: 5px;

    &:focus {
        outline: none;
        border-radius: 5px;
        border-color: #719ECE;
        border-width: 3px;
    }
}

.submit {
    width: auto;
    border: 0;
    padding: 3px;
    border-radius: $button-radius;
    background-color: $color-main;
}





